<footer class="footer">
    <div class="row">
        <div class="col-sm-8">
            <p><small><a href="mailto:smusamashah+blog@gmail.com">SM USAMA</a></small></p>
        </div>
        <li class="col-sm-2">
            <p class="pull-right"><small><a href="/cv" title="CV">CV</a></small></p>
        </li>
        <li class="col-sm-2">
            <p class="pull-right"><small><a href="https://www.linkedin.com/in/smusamashah/" title="LinkedIn">LinkedIn!</a></small></p>
        </li>
    </div>
</footer> <!-- /footer -->
