<header {% if page.image %} style="background: linear-gradient(rgba(0,34,68,67%),rgba(0,34,68,67%)),url({{ page.image }}) 50%/cover" {% endif %} >
  <nav class="header" >
    <ul class="nav nav-pills pull-right">
      <li class="nav-item"><a class="nav-link pt-3" href="/blog" title="Blog">
        <button class="btn btn-light" type="button">Posts</button>
      </a></li>
      <li class="nav-item"><a class="nav-link pt-3" href="https://github.com/SMUsamaShah" title="Github">
        <button class="btn btn-light" type="button">Open Source</button>
      </a></li>
      <li class="nav-item"><a class="nav-link pt-3" href="/cv" title="CV">
        <button class="btn btn-light" type="button">CV</button>
      </a></li>
      <li class="nav-item"><a class="nav-link pt-3" href="https://www.linkedin.com/in/smusamashah/" title="LinkedIn">
        <button class="btn btn-light" type="button">LinkedIn!</button>
      </a></li>
    </ul>
    <h3 class="display-4 pt-3"><a href="/">{{ site.title }}</a></h3>
  </nav> <!-- /header -->

  <div class="hp">
    <h1> {{ page.title }} </h1>
  </div>
</header>