<nav class="header">
    <ul class="nav nav-pills pull-right">
        <li class="{{ page.cv }}"><a href="/cv" title="CV">CV</a></li>
        <li class="{{ page.projects }}"><a href="https://github.com/SMUsamaShah" title="Github">GitHub</a></li>
        <li class="{{ page.notes }}"><a href="/blog" title="Blog">Articles</a></li>
        <li class="{{ page.contact }}"><a href="https://www.linkedin.com/in/smusamashah/" title="LinkedIn">LinkedIn</a></li>
    </ul>
    <h3 class="text-muted"><a href="/">{{ site.title }}</a></h3>
</nav> <!-- /header -->
