<header>
  <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand display-4" href="/">{{ site.title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link btn btn-light text-dark m-2" href="/blog" title="Blog">Posts</a>
          </li>
          <li class="nav-item">
              <a class="nav-link btn btn-light text-dark m-2" href="https://github.com/SMUsamaShah" title="Github">GitHub</a>
          </li>
          
          {%- comment -%} <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> {%- endcomment -%}
        </ul>
      </div>
    </nav>

  <div class="hp">
    <h1> {{ page.title }} </h1>
  </div>
</header>
