<section class="card-columns">
  {% for post in site.posts %}
  <article class="card mb-3">

    <figure class="card-img-top p-1" style="background-color: hsla(0, 0%, 81%, 1);">
      {% if post.image %}
      <img src="{{ post.image }}">
      {% else %}
      <div style="background-image: linear-gradient(#367, #367);height: 200px;background-size: 1000px;"></div>
      {% endif %}
    </figure>

    <div class="card-body">
      <h4 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
      <small class="text-muted"><time class="card-text" datetime="{{post.date}}">{{ post.date | date_to_string }}</time></small>
      <p class="card-text">{{ post.description }}</p>
    </div>

  </article>
  {% endfor %}
</section>
