<!-- javascript at the end of the doc so page loads faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/js/library.js"></script>
<!-- <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.4.8/mermaid.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/geopattern/1.2.3/js/geopattern.min.js"></script>
<script>
  {% unless page.image %}
    $("header").css('background-image', GeoPattern.generate(`"{{ page.title }}"`).toDataUrl());
    $("header").css('background-size', "1000px");
  {% endunless %}
    $("body > div > section > article").each((_, e) => {
      let title = $(e).find(".card-body > .card-title > a").text();
      let pattern = GeoPattern.generate(title);
      $(e).find("figure > div").css('background-image', pattern.toDataUrl());
    });
</script>
