<!-- javascript at the end of the doc so page loads faster -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/library.js"></script>
<!-- <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.0.0/mermaid.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/geopattern/1.2.3/js/geopattern.min.js"></script>
<script>
  {% unless page.image %}
    $("header").css('background-image', GeoPattern.generate(`"{{ page.title }}"`).toDataUrl());
    $("header").css('background-size', "1000px");
  {% endunless %}
    $("body > div > section > article").each((_, e) => {
      let title = $(e).find(".card-body > .card-title > a").text();
      let pattern = GeoPattern.generate(title);
      $(e).find("figure > div").css('background-image', pattern.toDataUrl());
    });
</script>
