<div class="social-buttons">
		<h3>
			Don't Swear, Just Share:
		</h3>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" 
    rel="nofollow" target="_blank" title="Share on Facebook" class="z-2 z-h social fb">
    	<i class="fa fa-facebook"></i> Share On Facebook
    </a>
    
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" 
    rel="nofollow" target="_blank" title="Share on Twitter" class="z-2 z-h social tw">
    	<i class="fa fa-twitter"></i> Twitter</a>
    
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" 
    rel="nofollow" target="_blank" title="Share on Google+" class="z-2 z-h social gp">
    	<i class="fa fa-google-plus"></i>
    </a>
    
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.summary }}&source={{ site.url }}" 
    rel="nofollow" target="_blank" title="Share On LinkedIn" class="z-2 z-h social li">
    	<i class="fa fa-linkedin"></i>
    </a>
    
    <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" 
    rel="nofollow" target="_blank" title="Share On Reddit" class="z-2 z-h social rd">
    	<i class="fa fa-reddit-alien"></i>
    </a>
   	
   	<a href="http://www.stumbleupon.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" 
    rel="nofollow" target="_blank" title="Stumble This Page" class="z-2 z-h social su">
   		<i class="fa fa-stumbleupon"></i>
   	</a>
</div>
