<html xmlns="http://www.w3.org/1999/xhtml"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta name="google-site-verification" content="fcsy6xwzGDIwyzoNhlebWTJvbkmQNzPNwrpy0YpIqHI" />
  <title>{{ page.title }}</title>
  <style type="text/css">code{white-space: pre;}</style>
  <link rel="stylesheet" href="/css/cv.css" type="text/css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8113893-21"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-8113893-21');
  </script>
</head>
<body>
{{ content }}
</body></html>
