---
layout: default
notes: active
---


<main class="note single">
  <time class="text-secondary" datetime="{{ page.date | date_to_xmlschema }}">
    {{ page.date | date_to_string }}
  </time>
  <!-- Post content -->
  <article>
    {{ content }}
  </article>
  
  <!-- Post info -->
  <!-- <div class="noteinfo"> -->
  <!-- include some categories and tags maybe? -->
  <!-- </div> -->

  <hr>

  {% if site.feature.sharing %}
  <!-- Sharing buttons -->
  <div>
    {% include social-buttons.html %}	 
  </div>
  {% endif %}

  {% if site.feature.disqus %}
  <!-- Post comments -->
  <div class="notecomments">
    {% include disqus.html %}	 
  </div>
  {% endif %}
</main>